/* Basic Settings */

/* Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // Basis = 16px --> 1.0rem = 10px
}

body {
  font-weight: 400;
  line-height: 1.6rem;
  color: $color-primary-dark;
  padding: 3rem;
}
