/* == SITE FOOTER == */

.site-footer {
  background: $color-tertiary;
  padding-top: 3.4rem;
  padding-bottom: 5.8rem;

  @include atMedium {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    padding-left: 5%;
    padding-right: 5%;
  }

  &__contact-information {
    @include atMedium {
      order: 2;
      width: 30%;
    }
  }

  &__contact-information > div {
    margin-left: 2rem;
    line-height: 3.4rem;
  }

  &__contact-information-name {
    font-weight: 700;
    color: $color-secondary;
  }

  &__contact-information-address {
  }

  &__contact-information-address-icon {
    margin-right: 0.5rem;
    margin-bottom: -4px;
  }

  &__contact-information-address-info {
  }

  &__contact-information-phone {
  }

  &__contact-information-phone-icon {
    margin-right: 0.5rem;
    margin-bottom: -2px;
  }

  &__contact-information-phone-number {
  }

  &__contact-information-mail {
    padding-right: 1.5rem;
  }

  &__contact-information-mail-icon {
    margin-right: 0.5rem;
    margin-bottom: -2px;
  }

  &__contact-information-mail-address {
  }

  & a {
    color: $color-secondary;
    @include style-text-link-default;
  }

  &-navbar {
    @include atMedium {
      order: 3;
      width: 40%;
    }
  }

  &__additional-data {
    @include atMedium {
      order: 1;
      width: 30%;

      display: flex;
      flex: 1;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  &__contact-information {
    display: none;

    @include atMedium {
      display: initial;
      list-style: none;
    }
  }

  &-navbar__navigation-list {
    text-align: center;

    @include atMedium {
      display: flex;
      flex: 2;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
      list-style: none;
      padding-left: 15%;
    }
  }

  &-navbar__navigation-list-item {
    line-height: 3.4rem;

    @include atMedium {
      width: 35%;
    }
  }

  &-navbar__navigation-list-item a {
    @include style-text-link-default;
    color: $color-secondary;
  }

  &__navigation {
    padding-top: 4rem;
  }

  &__navigation-list {
    text-align: center;

    @include atMedium {
      position: relative;
      width: 100% !important;
      text-align: left !important;
      list-style: none !important;
    }
  }

  &__navigation-list-item {
    line-height: 3.4rem;

    @include atMedium {
    }
  }

  &__navigation-list-item a {
    @include style-text-link-default;
    color: $color-secondary;
  }

  &__copyright {
    width: 80%;
    text-align: center;
    font-size: 1.4rem;
    margin: 0 auto;
    padding-top: 4rem;

    @include atMedium {
      width: 100%;
      text-align: left;
    }
  }

  &__copyright .wordwrap::after {
    content: "\A";
    white-space: pre;

    @include atMedium {
      content: " ";
      white-space: unset;
    }
  }
}
