/* == PAGE HOME */
h1.home {
  text-indent: -9999px;
  height: 1rem;
}

.home .container-half-on-desktop {
  @include atMedium {
    position: relative;
    width: calc(50% + 3rem) !important;
    min-height: 350px;
    max-height: 350px;
    height: 100%;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.home .container-half-on-desktop:nth-child(2n) {
  @include atMedium {
    right: -3rem;
  }
}

.home .container-fullwidth--green {
  @include atMedium {
    position: relative;
    min-height: 280px;
    right: auto;
    margin-left: 4rem;
    padding: 5rem 3rem;
    padding-top: 10rem;
  }
}

.home .container-fullwidth--red {
  @include atMedium {
    display: flex;
    flex-direction: row;
    min-height: 280px;
    position: relative;
    left: 4rem;
    right: 0;
    padding-top: 10rem;
  }
}

.home .container-fullwidth--red :nth-child(1) {
  @include atMedium {
    order: 2;
  }
}

.home .container-fullwidth--red :nth-child(2) {
  @include atMedium {
    order: 1;
  }
}

.home .container-fullwidth--red .highlight__menu-wrapper {
  @include atMedium {
    position: relative;
    width: 48%;
    margin-top: -5rem;
  }
}

.home
  .container-fullwidth--red
  .highlight__menu-wrapper
  .container-fullwidth__img {
  @include atMedium {
    position: relative;
    width: 100%;
  }
}

.home .container-fullwidth--red .highlight__menu-description {
  @include atMedium {
    position: relative;
    width: 48%;
  }
}

.home .seperator--red {
  @include atMedium {
  }
}

.home .site-footer {
  @include atMedium {
    margin-top: -115px !important;
  }
}
