/* === HISTORY TIMELINE === */
.section-history {
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	margin-top: 4.0rem;
}


.section-history__container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}


.section-history__title {
	text-align: center !important;
	margin-top: 4.0rem;
}


.section-history__timeline {
	position: relative;
	width: 100%;
	margin: 3.0rem auto;
}





@media only screen and (min-width: 769px) {
	.section-history__timeline::after {
		content: '';
		position: absolute;
		width: 6px;
		background-color: #503D42;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-bottom: 250px;
	}
}


.section-history__timeline-container {
	position: relative;
	background-color: inherit;
	width: 100%;
}

@media only screen and (min-width: 769px) {
	.section-history__timeline-container {
		padding: 10px 40px;
		position: relative;
		background-color: inherit;
		width: 50%;
	}
}


.section-history__timeline-container::before {

}

/* .section-history__timeline-container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #8DC21C;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
} */



.section-history__timeline-container-content {
	padding: 0.5rem 1.0rem;
	position: relative;
	border-radius: 6px;
	text-align: center;
	margin-bottom: 3.5rem;
}

@media only screen and (min-width: 769px) {
	.section-history__timeline-container-content {
		padding: 2.5rem 30px;
		position: relative;
		border-radius: 6px;
		top: -150px;
		text-align: inherit;
	}
}


.section-history__timeline-container--left {
	left: 0;
	text-align: right;
}





.section-history__timeline-container--right {
	left: 0%;
	text-align: left;
}


@media only screen and (min-width: 769px) {
	.section-history__timeline-container--right {
		left: 50%;
		text-align: left;
	}
}


.section-history__timeline-container--left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
}


.section-history__timeline-container--right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
}


.section-history__timeline-container--left::after {
}

@media only screen and (min-width: 769px) {
	.section-history__timeline-container--right::after {
		left: -16px;
	}
}






.section-history__timeline-container-milestone {
	position: relative;
	width: 5.0rem;
	height: auto;
	text-align: center;
	font-size: 2.0rem;
	line-height: 3.6rem;
	background-color: white;
	border-left: transparent;
	border: 4px solid #8DC21C;
	border-radius: 50%;
	z-index: 10;
	margin: 0 auto;
	padding: 0.5rem;
}


.section-history__timeline-container-title {
	font-family: 'Kanit', sans-serif;
	font-size: 2.0rem;
	font-weight: 300 !important;
	text-transform: uppercase;
	line-height: 2.4rem;
	letter-spacing: 0.25rem;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
}

@media only screen and (min-width: 769px) {
	.section-history__timeline-container-title {
		font-family: 'Kanit', sans-serif;
		font-size: 2.0rem;
		font-weight: 300 !important;
		text-transform: uppercase;
		line-height: 2.4rem;
		letter-spacing: 0.25rem;
		margin-top: 2.0rem;
		margin-bottom: 0.25rem;
	}
}


.section-history__timeline-container-text {
	font-family: 'Kanit', sans-serif;
	font-size: 1.0rem;
	font-weight: 300 !important;
	line-height: 1.6rem;
	margin-top: 0.25rem;
}


@media screen and (max-width: 600px) {
	.section-history__timeline::after {
		left: 31px;
	}

	.section-history__container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.section-history__container::before {
		left: 60px;
	}

	.section-history__timeline-container--left::after {
		left: 15px;
	}

	.section-history__timeline-container--right::after {
		left: 15px;
	}

	.section-history__timeline-container--right {
		left: 0%;
	}

}