/* Colors */
$color-primary: red;
$color-primary-light: rgba($color-primary, 0.3);
$color-primary-dark: rgba($color-primary, 0.8);

$color-secondary: green;
$color-secondary: rgba($color-secondary, 0.2);
$color-secondary-dark: rgba($color-secondary, 0.9);
